<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transit1.co.in
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/logo.png" alt="mylogo">
      <ion-card-subtitle>Travels and logistics</ion-card-subtitle>
      <ion-card-title>Transit1- Destination and Beyond</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Always ready to lift you and your stuffs.
    </ion-card-content>
  </ion-card>



</ion-content>









<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
