<div class="header color">
  <h1>Registration form</h1>
</div>

<section>

  <!-- we have to pass form group so in form tag we pass form group -->
  <form id="form" [formGroup]="registrationForm">
    <div class="row form">
      <div class="col-md-12" *ngFor="let control of dynamicFormArray">
        <div [ngSwitch]="control.Type">
          <div *ngSwitchCase="'input'">
            <div class="col-md-4">
              <label>{{ control.Label }}</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control"/>
            </div>
          </div>
          <div *ngSwitchCase="'date'">
            <div class="col-md-4">
              <label>{{ control.Label }}</label>
            </div>
            <div class="col-md-6">
              <input type="date" class="form-control"/>
            </div>
          </div>
          <div *ngSwitchCase="'radio'">
            <div class="col-md-4">
              <label>{{ control.Label }}</label>
            </div>
            <div class="col-md-6">
              <label class="radio" *ngFor="let val of control.value.split(',')">
                <input type="radio" name="{{ control.ID }}" value="{{ val }}" />
              </label>
            </div>
          </div>
          <div *ngSwitchCase="'select'">
            <div class="col-md-4">
              <label>{{ control.Label }}</label>
            </div>
              <div class="col-md-6">
              <input class="form-control" />
                <option value="-1">Select</option>
                 <option
                *ngFor="let val of control.value.split(',')"
                value="{{ val }}"
                 >
                {{ val }}
              </option>
              </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
