<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <ion-card>
      <ion-card-header>
        <img src="assets/logo.png" alt="mylogo">
        <ion-card-subtitle>Travels and logistics</ion-card-subtitle>
        <ion-card-title>Transit1- Destination and Beyond</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <ion-item>
         
          <ion-input placeholder="Username"></ion-input>
        </ion-item>
        <ion-item>
          <br>

        
          <ion-input placeholder="Password" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" (click)="login()">login</ion-button>
        <ion-button expand="block" color="secondary" (click)="register()">Register</ion-button>
     
      </ion-card-content>
    </ion-card>
  
  
  
  



</ion-content>
